<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBZ4-wjkDx5m__ewZTyE0EYIWqOM7AC6xo</string>
	<key>GCM_SENDER_ID</key>
	<string>888634345199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.macincode.wittedental</string>
	<key>PROJECT_ID</key>
	<string>witte-dental</string>
	<key>STORAGE_BUCKET</key>
	<string>witte-dental.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:888634345199:ios:02fd9b83d5bcc4f261fd1a</string>
</dict>
</plist>